*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color:#19D119;
}

header{
    height: 10%;
    width: 100%;
    min-height: 100px;
    /*background: white;*/
    position: relative;
    border-bottom: solid  #19D119;
}

nav{
    float: right;
    width: 15%;
    font-size: 20px;
    padding: 5px;
    border: solid  #19D119;
    height: 82.5%;
    border-top: none;
    border-bottom: none;
    position: relative;
    margin-left: 83.7%;
    background: black;
    z-index: 9;

}

nav ul{
    list-style: none;
}

#content{
    float: left;
    border-left: solid  #19D119;
    height:83.7%;
    width: 84%;
    position: absolute;
}

#ad{
    border-bottom: solid  #19D119;
}

.news{
    width: 60%;
    margin-left: 15%;
}

.news-header{


}

a{
    color:#19D119;
}

.title{
    font-weight: bold;
    font-size: 50px;
    /*position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);*/
}

.logo{
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.titleText{
    position: absolute;
    display: inline-block;
    margin-right: 5px;
    float: left;
    top: 50%;
    width: 100%;
    left: 75%;
    transform: translate(-50%, -50%);

}

footer{
    height: 5%;
    border-top: solid  #19D119;
    bottom: auto;
    width: 100%;
}

.address{

}

.phone{

}
